body {
    background-color: #191d28;
    color:white;
    font-family: Oswald,sans-serif;
}

.nav-header {
    justify-content: space-between;
    align-items: center;
}

.nav-header div {
    margin: 5px;
}


.currency-selector-header {
    align-items: center;
}


/*  switch */
.demo {
  margin: 64px 0;
}
/**
 * Switch Styles
 */
/* Variables */
/* Switch Container */
.switch {
  position: relative;
  display: inline-block;
}
/* Hide the checkbox input (only needed for `:checked` property) */
.switch-input {
  display: none;
}
/* Switch */
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Switch Rail & Knob */
  /* Switch Rail */
  /* Switch Knob */
}
.switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label:before {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}


.switch-label:after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #3dc5c1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label:before {
  background-color: #2f3241;
}
.switch-input:checked + .switch-label:after {
  left: 24px;
}

.telegram {
  background-color: #3dc5c1;
  color: white;
}

.telegram-button {
  display: inline-block;
  font-size: 14px;
}


.telegram-button img {
  height:15px;
}

table {
  border: 0;
  width: 100%;
  /* background-color: #2f3241; */
  border-collapse: separate;
  border-spacing: 0 1em;
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 1em;
}

table th {
    border: 0;
    text-align: center;
    color: #74787f;
     font-size:1.5rem;
}

table td {
  border: 0;
    text-align: center;
    color: white;
    font-size:1.2rem;
}


tbody tr{
  border: 0;
  display: table-row;
  vertical-align: middle;
  background-color: #2f3241;
}

.rounded {
  border-radius: 0px 0px 0px 10px;
}